@page "/LeiloesFuturos/"
@using SiteLeiloes.Models
@model LeiloesFuturosModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Leilões</title>
    <link href="~/css/pagInicial.css" rel="stylesheet">
    <link href="~/css/background.css" rel="stylesheet">

</head>
<body>
    <img src="/images/logoPalavras.png" alt="Logo" id="logo">
    <div class="sidebar">
        <div class="menu-button"><a href="/PagInicial/"></a></div>
        <div class="menu-button"><a href="/PaginaUser/"></a></div>
        <div class="menu-button"><a href="/PaginaGaragem/" /></a></div>
        <div class="menu-button"><a href="/LicitacoesUser/"></a></div>
        <div class="menu-button"><a href="/LeiloesFavoritos/"></a></div>
        <div class="menu-button"><a href="/LeiloesFuturos/"></a></div>
        <div class="menu-button"><a href="/AtividadeUser/"></a></div>
    </div>
    <div class="page-background"></div>
    <div class="content">
        <div class="content">
            <form method="get" action="/LeiloesFuturos/">
                <div class="filters">
                    <input type="text" name="marca" placeholder="Pesquisar por marca">
                    <select name="ordenacao">
                        <option value="dataCrescente">Data - Crescente</option>
                        <option value="dataDecrescente">Data - Decrescente</option>
                        <option value="valorCrescente">Valor - Crescente</option>
                        <option value="valorDecrescente">Valor - Decrescente</option>
                    </select>
                    <button type="submit">Filtrar</button>
                </div>
            </form>
        </div>
        @foreach (var leilao in Model.Leiloes)
        {
            var leilaoUrl = $"/Leilao/{leilao.Id}"; 
            <a href="@leilaoUrl" class="auction-link style=" text-decoration: none; color: inherit;"">
                <div class="auction-container">
                    <div class="auction-item">
                        <div class="auction-image">
                            <img src="@leilao.ImagemUrl" alt="Imagem do Leilão">
                        </div>
                        <div class="auction-details">
                            <div class="auction-name">@leilao.Carro.Marca - @leilao.Carro.Modelo - @leilao.Carro.Ano - @leilao.Carro.Km km</div><br>
                            <div class="auction-info">
                                <strong> Maior Licitação: @leilao.Valor</strong><br>
                                <span class="tempo-restante" data-data-inicio="@leilao.Data_de_inicio.ToString("yyyy-MM-ddTHH:mm:ss")" data-data-fim="@leilao.Data_de_fim.ToString("yyyy-MM-ddTHH:mm:ss")">Calculando...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>

    <script>
        function atualizarTempoRestante() {
            var elementosTempoRestante = document.querySelectorAll(".tempo-restante");
            elementosTempoRestante.forEach(function (elemento) {
                var dataInicio = new Date(elemento.getAttribute("data-data-inicio"));
                var dataFim = new Date(elemento.getAttribute("data-data-fim"));
                var dataAtual = new Date();
                var tempoRestante = dataInicio - dataAtual;

                if (tempoRestante <= 0) {
                    elemento.textContent = "Tempo Expirado";
                } else {
                    var horas = Math.floor(tempoRestante / 3600000);
                    tempoRestante = tempoRestante % 3600000;
                    var minutos = Math.floor(tempoRestante / 60000);
                    tempoRestante = tempoRestante % 60000;
                    var segundos = Math.floor(tempoRestante / 1000);
                    elemento.textContent = "Começa em: " + horas + ":" + minutos + ":" + segundos;
                }
            });
        }

        setInterval(atualizarTempoRestante, 1000);

        atualizarTempoRestante();
    </script>
</body>
</html>